data/policy_documents/*
!data/policy_documents/.gitkeep
*.csv
*.txt
!data/
!data/cleaned_policy_documents/
!data/Manual/
!data/outputs/
!policy_documents/
!EDA/
!run/
!run/deBerta/

# Keep empty placeholder files so directories are retained
!data/Manual/.gitkeep
!data/outputs/.gitkeep
!data/cleaned_policy_documents/.gitkeep
!policy_documents/.gitkeep
!EDA/.gitkeep
!run/.gitkeep
!run/deBerta/.gitkeep